/SourceFilter.class
/SourceFilter1.class
/Plumber.class
/FilterFramework$EndOfStreamException.class
/FilterFramework$PipeIn.class
/FilterFramework$PipeOut.class
/FilterFramework.class
/MiddleFilter.class
/SinkFilter.class
/TemperatureFilter.class
/AltitudeFilter.class
/SinkFilter$Field.class
